/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
  background: linear-gradient(135deg, #1a2a6c, #2a4d69, #4b86b4);
  color: white;
}

@media screen and (max-width: 966px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.features {
  padding: 4rem 0;
}

.bookOverview {
  padding: 4rem 0;
  background-color: #f9f9f9;
}

@media screen and (max-width: 966px) {
  .bookOverview {
    padding: 2rem 0;
  }
}
